# Pod-People
www.PodPeopleNFT.com

1️⃣ Be kind and respectful at all times. Hate speech, harassment, sexism, racism is strictly prohibited and will result in an immediate ban.

2️⃣ Abstain from FUD. All questions related to Avalant will be answered by the devs and mods, simply @mention the team, and we will answer you as quickly as possible.

3️⃣ Promotion of other tokens, websites, or servers is not allowed in chat or spam DMs to investors.

4️⃣ Sharing discriminatory material or any form of NSFW content is prohibited.

5️⃣ Never share your personal details, security keys, seed phrases or wallet addresses with anyone for your own safety, nor will anyone from team Avalant ask for it. (please note that sometimes we may need your wallet address to confirm information.) We will never disclose your address to anyone.

6️⃣ This community aims to educate people in the crypto world, but we do not give financial advice here.

7️⃣ If the mods miss anything that is offensive or hurtful to you or the community, please bring it to their attention via DM.

8️⃣ Spamming on the server is prohibited, and you will be banned as a result.


